img {
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.ksb_hero {
position: relative;
    top: 0px;
    background: white center no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 70vh;

}



.ksb_hero_overlay {
  background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    pointer-events: none;
}
